.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 50px;
}

html,body {
    height: 100%;
}

/* Header */

.container {
    height: 100%;
}

.header {
    background: white;
    max-height: 64px;
}

.menu {
    display: flex;
    width: 100%;
    margin: auto 10px;
}

.logo {
    align-items: center;
    margin-right: auto;
}
.logo-txt {
    font-size: 30px;
}

.icon {
    width: 100px;
    height: 64px;
    background-image: url("../img/logo.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.drop-menu {
    background-image: url("../img/person.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    width: 72px;
    height: 72px;
}

.drop-menu:hover .drop-list{
    display: block;
}

.drop-list {
    display: none;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 2px;
    width: 150px;
    background: white;
    top: 72px;
    position: absolute;
}

.drop-item {
    margin: 20px;
}

/* Jumbotron */

.jumbotron{
    width: 100%;
    height: 150px;
    background-image: url("../img/jumbotron.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.title-container {
    padding: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.jumbotron-text {
    width: 100%;
    height: 100%;
    display: flex;
}

.jumbo-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 15px;
    background: white;
    border-radius: 30px;
    width: 250px;
    height: 30px;
}

.jumbo-date-text {
    color: white;
}

.jumbo-study-date{
    display: flex;
    align-items: center;
}

.jumbo-date-text {
    font-weight: bold;
    margin-left: 10px;
}


.jumbo-icon {
    width: 20px;
    height:20px;
    background-image: url("../img/calender.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-menu {
    display: flex;
    width: 50%;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}

.invite-icon {
    width: 15px;
    height: 15px;
    background: url("../img/ic-group-add-24-px.png") center center no-repeat;
    background-size: contain;
}

.setting-icon {
    width: 15px;
    height: 15px;
    background: url("../img/ic-brightness-high-24-px.png") center center no-repeat;
    background-size: contain;
}

.jumbo-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
    margin: 5px;
    background: gray;
    border-radius: 5px;
}

.jumbo-button button {
    background: transparent;
    border: transparent;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.main-menu {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.main-button {
    border-radius: 5px;
    margin: auto 5px;
}

.aside-active-btn {
    margin-left: auto;
    margin-right: 15px;
}
.hot-icon {
    width: 100px;
    height: 41px;
    background: url("../img/Hot.png") center center no-repeat;
    background-size: contain;
}

.new-icon {
    width: 100px;
    height: 41px;
    background: url("../img/New.png") center center no-repeat;
    background-size: contain;
}

.write {
    display: flex;
    align-items: center;

    height: 10%;
    width: 100%;
}

.pencil {
    width: 50px;
    height: 41px;
    background: url("../img/pencil.jpeg") center center no-repeat;
    background-size: contain;
}

.write-section {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    background-color: #ffffff;
    width: 100%;
}

.up-and-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-color: rgba(109, 174, 224, 0.99);
}

.up {
    background: url("../img/ic-file-download-24-px.png") no-repeat center center;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 5px;

}

.down {
    background: url("../img/ic-file-download-24-px.png") no-repeat center center;
    background-size: contain;
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
}
.card-list {
    height: 100%;
}

.card {
    display: flex;
    margin-bottom: 10px;
    height: 40%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.content {
    margin-bottom: 10px;
}

.profile-picture {
    background: url("../img/person.png") no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-name {
    margin-right: 10px;
    font-weight: bold;
}

.date {
    font-size: 10px;
    color: #515151;
}

.etc {
    display: flex;
}

.comment{
    display: flex;
    margin-right: 15px;
}

.comment-img {
    background: url("../img/ic-mode-comment-24-px.png") no-repeat center center;
    background-size: contain;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}
.save {
    display: flex;
}
.save-img {
    background: url("../img/ic-add-box-24-px.png") no-repeat center center;
    background-size: contain;
    margin-right: 5px;
    width: 15px;
    height: 15px;
}

/* About */

.aside-active-btn {
    position: relative;
}


.about-study {
    display: none;
    position: absolute;
    background: white;
    top: 40px;
    left: -200px;
    width: 250px;
    border: solid 1px #707070;
}

.about-main {
    padding: 20px 10px;
}

.about-study-header {
    padding: 15px;
    background: #d2e9f5;
    font-weight: bold;
    font-size: 1.3rem;
    height: 50px;
}

.about-study-content {
    padding-bottom: 15px;
    border-bottom: solid 1px #707070;
}

.about-study-info {
    display: flex;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: solid 1px #707070;
}
.about-member {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    margin-right: 40px;
}
.about-posts {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

.about-study-create-date {
    margin: 15px auto;
    display: flex;
    align-items: center;
}

.calender {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.calender-img {
    background: url("../img/ic_today_24px.png") no-repeat center center;
    background-size: contain;
    vertical-align: center;
    padding-left: 17px;
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.calender-txt {
    font-weight: bold;
    font-size: 0.8rem;
}

.create-date {
    font-size: 0.8rem;
}

.about-study-master {
    display: flex;
    align-items: center;
}

.master-img {
    background: url("../img/ic_local_florist_24px.png") center center no-repeat;
    background-size: contain;
    margin-right: 5px;
    width: 17px;
    height: 17px;

}

.master-img-container {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 5px;
}

.master-name {
    font-size: 0.8rem;
}
